/* style.css */

/* Ajouter des styles personnalisés au formulaire de connexion */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: 10px;
}

.forgot-password-link,
.create-account-link {
  color: blue;
}

/* Ajouter des styles pour rendre la page réactive */
@media (max-width: 576px) {
  .container {
    padding: 15px;
  }
}
