<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="shortcut icon" href="favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="index.css">
    <title>Editer un emploi</title>
</head>

<body>
    <div class="toggle"> 
        <i class="fas fa-bars ouvrir"></i>
        <i class="fas fa-times fermer"></i>
    </div>

    <header>
        <nav>
            <ul class="menu">
                <li>
                    <i class="fa-solid fa-house ico"></i>
                    <a href="index.html">Accueil</a>
                </li>
                <li class="active">
                    <i class="fa-solid fa-user ico"></i>
                    <a href="#">Profil</a>
                </li>
                <li>
                    <i class="fa-solid fa-calendar ico"></i>
                    <a href="éditer.html">Editer un emploi</a>
                </li>
                <li>
                    <i class="fa-solid fa-bell ico"></i>
                    <a href="#">Notification</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle-question ico"></i>
                    <a href="#">Aide</a>
                </li>
            </ul>
        </nav>
    </header>
    
       
            <section id="edition">
        <div class="container">
            <div class="row titre">
                <h1>Emploi du temps</h1>
            </div>
            <div class="row choix">
                <h5>Nouveau emploi du temps</h5>
                <div class="input-cadre d-flex">
                    <div class="input-text">
                        <label for="classe">Classe <span class="text-danger">*</span></label>
                        <br>
                        <select name="classe" id="classe">
                            <option value="rien">--Choix--</option>
                            <option value="licence1">Licence 1</option>
                            <option value="licence2">Licence 2</option>
                            <option value="licence3">Licence 3</option>
                            <option value="master1">Master 1</option>
                            <option value="master2">Master 2</option>
                        </select>
                    </div>
                    <div class="input-text mx-5 ">
                        <label for="semaine">Semaine<span class="text-danger">*</span></label>
                        <br>
                        <input type="date" id="semaine">
                    </div>
                </div>
                <div class="row mt-4">
                    <table>
                        <thead>
                            <tr class="bg-info">
                                <td class="py-2">Lundi</td>
                                <td>Mardi</td>
                                <td>Mercredi</td>
                                <td>Jeudi</td>
                                <td>Vendredi</td>
                                <td>Samedi</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                                <td>
                                    <input type="text" name="" id="" placeholder="--Groupe--"> <br>
                                    <input type="text" name="" id="" placeholder="--Salle--"> <br>
                                    <input type="text" name="" id="" placeholder="--Heure--"> <br>
                                    <input type="text" name="" id="" placeholder="--Matière--"> <br>
                                    <input type="text" name="" id="" placeholder="--Max horaire--"> <br>
                                    <input type="text" name="" id="" placeholder="--Nom du Prof--">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mb-5 mt-3 but">
                    <input type="submit" value="Enregistrer">
                </div>
            </div>
        </div>
    </section>


    <script src="bootstrap.bundle.min.js"></script>
    <script src="bootstrap.bundle.min.js.map"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="index.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>